html{
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
}

header {
    max-width: 1400px;
    margin: 32px auto 70px auto;
}

header img {
    margin-left: 124px;
}

nav {
    float: right;
    display: inline-block;
    margin-right: 60px;
    letter-spacing: -0.03em;
}

nav a{
    margin-right: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    text-decoration: none;
    color:#121212;
}

nav a:hover{
    color: #121212;
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.container{
    width: 1150px;
    margin: 0 auto; 
}

.main-inner{
    width: 100%;
}

.container h1{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.container h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.photo_pod_h1 {
    display: block;
    position: relative;
    margin-bottom: 150px;
}

.photo_pod_h1 img{
    width: 100%;
    height: auto;
}

.photo_pod_h1 p{
    padding-bottom: 40px;
    padding-left: 40px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Manrope', sans-serif;
    letter-spacing: -0.03em;

    position: absolute;
    bottom: -3px;
    width: 470px;
}

.about_us{
    margin-bottom: 150px
}

.about_us_text{
    width: 1051px;
    margin-left: 3px;
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.about_us button{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
    letter-spacing: -0.03em;
    font-family: 'Manrope',sans-serif;
    background-color: #AD1818;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
}

.about_us button:hover{
    cursor: pointer;
}

.projects_container{
    margin-bottom: 150px;
}

.projects_container h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;

    margin-bottom: 15px;
}

.project img{
    margin-bottom: 8px;
    width: 100%;
    height: auto;
}

.projects_container a{
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #AD1818;
    text-decoration: none;
    letter-spacing: -0.03em;
}

.project{
    margin-bottom: 93px;
}

.projects_container button{
    font-family: 'Manrope',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    color: #AD1818;
    letter-spacing: -0.03em;

    padding: 56px 0;
    border: 1px solid #AD1818;
    border-radius: 5px;;
    background-color: white;
    width: 100%;
}

.projects_container button:hover{
    background-color: #AD1818;
    color: white;
    cursor: pointer;
}

.full_wd_cont{
    width: 100%;
    background-color: black;
    margin: 0;
}

.services_container{
    max-width: 1400px;

    padding: 0 125px 142px 125px;
}

.services_container h2{
    padding-top: 149px;
    margin-bottom: 34px;
    color: white;
    font-family: 'Manrope',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.service img{
    margin-bottom: 16px;
    max-width: 100%;
    height: auto;
}

.service h3{
    color: white;
    font-family: 'Manrope',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
}

.service{
    margin-bottom: 60px;
}

.service:last-child{
    margin-bottom: 0;
}

.photo_container{
    margin-bottom: 150px;
}

.project_photo{
    background-image: url(../resources/project_photo.jpg);
    height: 717px;
    width: 100%;
    margin: 0;
    max-width: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    position: relative;
    
}

.project_photo h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;

    color: white;
    width: 443px;

    position: absolute;
    bottom: 0;
    padding-bottom: 60px;
    padding-left: 125px;
}

.contacts{
    max-width: 1400px;
    margin-left: 120px;
    margin-bottom: 161px;
}

.contacts::before{
    content: '';
    display: block;
    background-image: url(../resources/phone_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
}

.contacts h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Manrope',sans-serif;
    margin-bottom: 32px;
    letter-spacing: -0.03em;
}

.contact_info{
    margin-left: 4px;
}

.contact_info a{
    text-decoration: none;
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.phone{
    margin-bottom: 30px;
}

.phone a{
    color:black;
}

.mail a{
    color: gray;
    border-bottom: 2px solid gray;
}

footer{
    background-color: black;
    width: 100%;
}

.footer_links{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.footer_links a{
    color: white;
    text-decoration: none;
    font-family: 'Manrope',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 89px;
    margin-right: 57px;
    letter-spacing: -0.03em;
}

.footer_links a:hover{
    color: gray;
}

.footer_links a:first-child{
    margin-right: 53px;
}

.footer_links a:last-child{
    margin-right: 0;
}


.podpis{
    color: gray;
    text-align: center;

    font-family: 'Manrope',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

    padding-bottom: 30px;
    letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
    .container{
        padding: 0 17px;
        width: 100%;
        
    }

    h1{
        font-size: 50px;
    }

    h3{
        font-size: 25px;
        line-height: 34px;
    }

    .about_us_text{
        font-size: 35px;
        line-height: 47px;
        width: 690px;
    }

    .photo_pod_h1{
        margin-bottom: 120px;
    }

    .about_us{
        margin-bottom: 120px;
    }

    .project{
        margin-bottom: 80px;
    }

    .project:last-child{
        margin-bottom: 102px;
    }
}

@media (max-width: 767px) {
    .container{
        padding: 0 17px;
        width: 100%;
    }

    .photo_pod_h1 img{
        height: 304px;
    }

    .container h1{
        font-size: 30px;
        line-height: 31px;
    }

    .container h2{
        font-size: 14px;
        line-height: 19px;
    }

    .container h3{
        font-size: 18px;
        line-height: 25px;
    }

    .about_us_text{
        font-size: 22px;
        line-height: 30px;
        width: 346px;
    }


    .photo_pod_h1{
        margin-bottom: 80px;
    }

    .photo_pod_h1 p{
        width: 100%;
    }

    .about_us{
        margin-bottom: 80px;
    }

    .project{
        margin-bottom: 49px;
    }

    .project:last-child{
        margin-bottom: 60px;
    }

    .projects_container button{
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .about_us button{
        padding: 14px 27px;
    }

    .projects_container a{
        font-size: 16px;
        line-height: 21px;
    }
}