@import url(header.css);
@import url(main-head.css);
@import url(abous_us.css);
@import url(projects.css);
@import url(services.css);
@import url(feedback.css);
@import url(gallery-section.css);
@import url(contacts.css);
@import url(footer.css);
@import url(popup.css);

html {
  scroll-behavior: smooth;
}

.body__fixed {
  overflow: hidden;
}

body,
button {
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
p,
a,
button {
  letter-spacing: -0.03em;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.main-inner {
  width: 100%;
}

.container h1 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  width: 956px;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 17px;
    width: 100%;
  }

  .container h1 {
    font-size: 50px;
    width: calc(100% - 100px);
  }
  h2 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 12px;
    width: 100%;
  }

  .container h1 {
    font-size: 30px;
    line-height: 31px;
    width: 100%;
  }

  .container h2 {
    font-size: 14px;
    line-height: 19px;
  }

  h2 {
    margin-bottom: 20px;
  }
}
